body {
    color: rgb(122, 156, 89);
    background-color: rgb(53, 83, 105);
    font-size: 20px;
}

button {
    padding: 1px 10px ;
    color: rgb(3, 9, 7);
    background-color: rgb(173, 173, 203);
    position: relative;
    top: -15px;
    right: 11px;
} 
.box {
    position: relative;
    color: white;
    background-color: green;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 150px;

  }